numpy<2.0.0
torch>=2.4.0
langchain
langchain-community
langchain-huggingface
langchain-ollama
pypdf
chromadb
sentence-transformers
fastapi
uvicorn
python-multipart
# database
sqlalchemy[asyncio]
asyncpg
# auth
python-jose[cryptography]
bcrypt
pydantic[email]
pydantic-settings
# mail
fastapi-mail
# file loaders
docx2txt
openpyxl
openai-whisper
# tests
pytest
pytest-asyncio
httpx
aiosqlite
